/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
@import './colors.scss';
$cm-prefix: bm;

$opacity-disabled: 0.8;

// -------- Colors -----------
$primary-color: $primary-6;
$secondary-color: $grey-9;
$processing-color: $primary-color;
$highlight-color: $red-6;
$normal-color: #d9d9d9;

// 功能色
$info-color: $blue-6;
$success-color: $green-6;
$error-color: $red-6;
$warning-color: $gold-6;

// 脚手架基础变量
// ---
// Background color for `<body>`
$body-background: #f7f7f7;
// 大多数组件的基本背景颜色。
$component-background: #fff;
$dark-background: #262626;

// text-color
$heading-color: #262626;
$text-color: #262626;
$text-color-secondary: #8f8f8f;

// $heading-color-dark: fade(#fff, 100%);
$text-color-dark: #fff;
$text-color-secondary-dark: #baae9c;
// 文字色
// $color-text-base: #262626;                  // 基本
// $color-text-base-inverse: #fff;          // 基本 - 反色
// $color-text-secondary: #8f8f8f;          // 辅助色
$text-color-placeholder: #696358; // 文本框提示
// $color-text-disabled: #bbb;              // 失效
// $color-text-caption: #888;               // 辅助描述
// $color-text-paragraph: #333;             // 段落
// $color-link: $brand-primary;             // 链接
// font-size
$font-size-sm: 0.24rem;
$font-size-base: 0.28rem;
$font-size-lg: 0.36rem;
$line-height-base: 1.5;
$border-radius-base: 0.08rem;
$border-radius-sm: 0.04rem;
// vertical paddings
$padding-lg: 0.4rem; // containers
$padding-md: 0.3rem; // small containers and buttons
$padding-sm: 0.2rem; // Form controls and items
$padding-xs: 0.1rem; // small items
// vertical padding for all form controls
$control-padding-horizontal: $padding-sm;
$control-padding-horizontal-sm: $padding-xs;
// 活动和悬停状态的背景颜色用于列表项或表单元格。
$item-active-bg: $primary-1;
// $item-hover-bg: $primary-1;
// ICONFONT
// $iconfont-css-prefix: iconfont;
// $icon-url: 'https://at.alicdn.com/t/font_148784_v4ggb6wrjmkotj4i';
// LINK
// $link-hover-color: $primary-5;
$link-color: $primary-color;
$link-active-color: $primary-7;
$link-decoration: none;
// $link-hover-decoration: none;
// Animation
// $ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
// $ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
// $ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
// $ease-out-back: cubic-bezier(0.12, 0.4, 0.29, 1.46);
// $ease-in-back: cubic-bezier(0.71, -0.46, 0.88, 0.6);
// $ease-in-out-back: cubic-bezier(0.71, -0.46, 0.29, 1.46);
// $ease-out-circ: cubic-bezier(0.08, 0.82, 0.17, 1);
// $ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.34);
// $ease-in-out-circ: cubic-bezier(0.78, 0.14, 0.15, 0.86);
// $ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
// $ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
// $ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
$ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
// Border color
$border-color-base: rgba(0, 0, 0, 0.2); // base border outline a component
$border-color-split: hsv(0, 0, 91%); // split border inside a component
$border-width-base: 0.02rem; // width of the border for a component
$border-style-base: solid; // style of a components border
// Outline
$outline-blur-size: 0;
$outline-width: 0.04rem;
$outline-color: $primary-color;
$background-color-light: hsv(0, 0, 98%); // background of header and selected item
$background-color-base: hsv(0, 0, 96%); // Default grey background color
// Disabled states
$disabled-color: fade(#000, 25%);
$disabled-bg: $background-color-base;
$disabled-color-dark: fade(#fff, 35%);
// Shadow
$shadow-color: rgba(0, 0, 0, 0.15);
$shadow-1-up: 0 0.04rem 0.16rem $shadow-color;
$shadow-1-down: 0 0.2rem 0.16rem -0.16rem $shadow-color;
$shadow-1-left: -0.04rem 0 0.16rem $shadow-color;
$shadow-1-right: 0.04rem 0 0.16rem $shadow-color;
$shadow-2: 0 0.08rem 0.24rem $shadow-color;
$box-shadow-base: $shadow-1-down;
// Animation
$animation-duration-slow: 0.3s; // Modal
$animation-duration-base: 0.2s;
$animation-duration-fast: 0.1s; // Tooltip
// z-index list
// $zindex-affix: 10;
// $zindex-back-top: 10;
// $zindex-modal-mask: 1000;
// $zindex-modal: 1000;
// $zindex-notification: 1010;
// $zindex-message: 1010;
// $zindex-popover: 1030;
// $zindex-picker: 1050;
// $zindex-dropdown: 1050;
// $zindex-tooltip: 1060;
// m-z-index
$zindex-progress: 2000;
$zindex-popover: 1999;
$zindex-toast: 1999;
$zindex-action-sheet: 1000; // actonsheet 会放到 popup / modal 中
$zindex-picker: 1000;
$zindex-popup: 999;
$zindex-modal: 999; // modal.alert 应该最大，其他应该较小
$zindex-tabs-pagination: 499;
$zindex-mask: 500;

// Mask
$mask-background: rgba(#000, 0.5);

// Button
$button-global-border-radius: 0.04rem;
$button-global-font-color: $grey-1;
$button-global-margin-top: 0.3rem;
$button-global-height: 0.8rem;
$button-global-disabled-font-color: $primary-4;
$button-global-active-font-color: $primary-7;
$button-global-font-size: 0.36rem;

$button-warn-bg-color: $red-6;
$button-warn-active-color: $red-7;
$button-warn-disabled-bg-color: $red-4;

$button-default-bg-color: $grey-9;
$button-default-active-bg-color: $grey-10;
$button-default-font-color: $primary-6;
$button-default-active-font-color: rgba($button-default-font-color, $opacity-disabled);
$button-default-disabled-font-color: $primary-4;
$button-default-disabled-bg-color: $grey-7;

$button-primary-bg-color: $primary-6;
$button-primary-active-bg-color: $primary-7;
$button-primary-disabled-bg-color: $primary-4;

